@model IEnumerable<WebMusic_Auth.Models.SongModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nviews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Song)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Files)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nviews)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
