@page
@model RegisterModel
@{
    ViewData["Title"] = "ĐĂNG KÝ";
}

<<<<<<< HEAD

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <div class="register">
=======
<div class="row gx-xl-3 justify-content-center">
                <div class="col">
                    <h2 class="m-0 text-center">Tạo tài khoản</h2>
                    <br>
                    <p class=" text-center ">Tạo tài khoản để sử dụng đầy đủ tính năng.</p>
                </div>
            </div>
<div class="row gx-xl-3 justify-content-center ">
    <div class="col-lg-6 col-xl-6 mb-2">
>>>>>>> master
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Mật khẩu</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Nhập lại Mật khẩu</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
            <div class="form-group text-center">
                    <p>
                        Đã có tài khoản ? &#9755;
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Đăng nhập</a>
                    </p>
                </div>
        </form>
    </div>
<<<<<<< HEAD
=======
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
>>>>>>> master
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
