@model IEnumerable<WebMusic.Models.AlbumDetailModel>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.AId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@

<div class="browse">
								<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								  <ul id="myTab" class="nav nav-tabs" role="tablist">
								   <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Telugu</a></li>
								   <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Hindi</a></li>
								   <li role="presentation" class="dropdown">
								   </li>
								   <li role="presentation"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Tamil</a></li>
								    <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Malayalam</a></li>
								</ul>
								<div id="myTabContent" class="tab-content">
								  <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
									<div class="browse-inner">
								 	 <!-- /agileits -->
								
									<div class="col-md-3 artist-grid">
										<a  href="single.html"><img src="images/a3.jpg" title="allbum-name"></a>
										 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Sukhwinder singh</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a6.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Shekhar Ravjiani</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a7.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Shalmali</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a4.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Sajid-Wajid</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a5.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Atif Aslam</a>
										</div>
										<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a1.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
											<a class="art" href="single.html">A R Rahman</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a2.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
												<a class="art" href="single.html">Shreya Ghoshal</a>
										</div>
									<div class="col-md-3 artist-grid">
											<a  href="single.html"><img src="images/a8.jpg" title="allbum-name"></a>
											 <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
											<a class="art" href="single.html">Lata Mangeshkar</a>
										</div>
													</div>
											</div>
								</div>
							</div>
						 	 <!-- /agileinfo -->
						</div>