@model IEnumerable<WebMusic_Auth.Models.SingerModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Story)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Story)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
