
<div class="song-detail">
    <div>
        <img src="@ViewBag.Photo" alt="img-song">
        <button>
            <i class="bi bi-play-fill"></i>
        </button>
    </div>
    <div class="song-info">
        <h1 style="color: rgb(0, 132, 255);">@ViewBag.Song</h1>
        <h2>Ca sĩ: @ViewBag.SiName</h2>
        <h2>Thể loại: @ViewBag.CaName</h2>
        <h3>Số lượt nghe: @ViewBag.Nviews</h3>
    </div>
</div>
